a {
    text-decoration: none;
}

.onglets {
    padding: 3px 7px;
    margin: 0 10px;
    border: 1px solid black;
    border-radius: 3px;

}

.categoryLabel {
    padding: 3px 7px;
    margin: 0 10px;
    /* border: 1px solid black; */
    font-style: italic;
    opacity: 0.8;
    border-radius: 3px;
}


.postCard {
    padding: 5px;
    border: 1px solid black;
}
.postInfos {
    font-style: italic;
    opacity: 0.8;
}

.userLink {
    /* Bouton lienUser mieux clickable */
    padding: 15px;
    margin: -15px;
}
.topicCard {
    padding: 5px;
    border: 1px solid rgb(0, 16, 156);
}