:root {
    --primary-color: #381d50;
}

a {
    color: inherit;
}

* {
    /* font-family: monospace; */
    font-family: 'Abel', sans-serif;;
}

body {
     margin: 0;
     background-color: #f9edfd;
}

a {
    text-decoration: none;
}

#forum {
    width: 40%;
    margin: 0 auto;
}
footer {
    text-align:center;
}


.titleUnderline {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 5px;
}
.titleNbrResult {
    text-decoration: none !important;
    font-size: 90%;
    opacity: 0.8;
}

nav {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    color: white !important;
    background-color: var(--primary-color);
}
#nav-right {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}
#nav-right a {
    color: white !important;
}
#nav-left {
    padding: 4px 15px;
}
#nav-left a {
    color: white !important;
}

#titleSite {
    font-weight: bold;
    font-size: 2.7em;
    color: white !important;

}

.lastMsgLine {
    margin-block-start: 0;
}
.lastMsgLabel {
    font-style: italic;
    opacity: 0.7;
    font-size: 85%;
}


.statusTopic {
    padding: 7px 10px 8px 10px;
    position: relative;
    /* border: 1px solid black; */
    /* border-bottom-right-radius: 4px; */
    border-top-right-radius: 4px;
    bottom: 1px;
}
.openTopic {
    background-color: #009554;
    color: white;
}
.closedTopic {
    background-color: rgb(151 47 27);
    color: white;
}

.topicCardBottomLine {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding-top: 3px;
}
.topicCardNbrMsg {

}
.topicCardDate {
    float: right;
}

.onglets {
    padding: 3px 7px;
    margin: 0 10px;
    /* border: 1px solid black; */
    border-radius: 3px;
    color: white !important;
}

.categoryLabel {
    /* padding: 5px; */

    margin: 0 10px;
    /* border: 1px solid black; */
    font-style: italic;
    opacity: 0.8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.topicHeaderRight {
    position: absolute;
    right: -1px;
    top: 0;
    padding: 8px 0px 5px 5px;
}

.topicCardContent {
    padding: 10px;
}


.postCard {
    padding: 5px;
    border: 1px solid black;
}
.postInfos {
    font-style: italic;
    opacity: 0.8;
}

.userLink {
    /* Bouton lienUser mieux clickable */
    padding: 15px;
    margin: -15px;
    text-decoration: underline;
}
.topicCard {
    /* padding: 5px; */
    position: relative;
    border: 1px solid rgba(61,0,116,0.5);
    border-radius: 4px;
    transition: all 0.5s;
    background-color: rgba(56, 29, 80, 0.05);

}
.topicCard:hover {
    border: 1px solid rgba(61,0,116,1);
    background-color: rgba(56, 29, 80, 0.2);
}
.topicCard:hover .topicCardHeader {

}
.topicCardHeader {
    background-color: var(--primary-color);
    color: white;
    padding: 8px;
}

.topicCardTitleLine {
    margin-block-start: 0;
    margin-block-end: 0;
    display: inline-flex;
}

.msgFixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    color: white;
}

.msgSuccess {
    background-color: rgba(0, 128, 0, 0.8);
    padding: 10px 20px;

}

.msgError {
    background-color: rgba(165, 42, 42, 0.8);
    padding: 10px 20px;

}

.authorPost {
    background-color: rgba(127, 255, 212, 1);
    animation: authorFadeBgColor 1s ease forwards;
}
@keyframes authorFadeBgColor {
    from {
        background-color: rgba(127, 255, 212, 1);
    }
    to {
        background-color: rgba(127, 255, 212, 0.3);
    }
}

.authorTopic {
    display: block !important;
    margin-left: 20px;
    border-right: 1px solid yellow;
    border-left: 1px solid yellow;
    border-radius: 5px;
    padding: 0px 5px;
    color: yellow;
}


.fa-comments {
    font-size: 90%;
    opacity: 0.8;
}

.searchDiv {
    width: 100%;
    display: inline-flex;
    border: 1px solid rgba(56, 29, 80, 0.3);
    border-radius: 5px;
}
#searchInput {
    width: -webkit-fill-available;
    padding: 4px 8px;
}
#searchSubmit {
    background-color: var(--primary-color);
    color: white;
    border: 0px;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.5s;
}
#searchSubmit:hover {
    background-color: rgba(56, 29, 80, 0.8);
}

.separatorLine {
    height: 1px;
    background-color: rgba(56, 29, 80, 0.5);
    width: 70%;
    margin: 0 auto;
}

.titleDiv {
    display: inline-flex;
    margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}
.titleDiv h1 {
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.titleDiv span {
    margin-left: 6px;
    margin-block-start: 0.8em;
    margin-block-end: 0.7em;
}

.topicDetailNbrPosts {
    margin-left: 10px;
}

#category_Select {
    background-color: var(--primary-color);
    color: white;
    border: 0px solid;
    padding: 2px 5px;
    border-radius: 4px;
}

.openTopicDetail {
    position: relative;
    padding: 4px 10px;
    background-color: #009554;
    color: white;
    margin-left: 15px !important;
    bottom: 5px;
    border-radius: 3px;
}
.closedTopicDetail {
    position: relative;
    padding: 4px 10px;
    background-color: rgb(151 47 27);
    color: white;
    margin-left: 15px !important;
    bottom: 5px;
    border-radius: 3px;
}

.categoriesMain {
    text-align: center;
}
.categoryLinkDisabled {
    padding: 8px 15px;
    background-color: #381d50;
    color: white;
    margin: 10px auto;
    line-height: 50px;

    border-right: 1px solid white;
    border-left: 1px solid white;

    cursor: default;

    transition: all 0.5s;
}
.categoryLink {
    padding: 8px 15px;
    background-color: #381d50;
    color: white;
    margin: 10px auto;
    line-height: 50px;

    border-right: 1px solid white;
    border-left: 1px solid white;

    transition: all 0.5s;
}
.categoryLink:hover {
    background-color: rgba(56, 29, 80, 0.5);
    /* border-radius: 10px; */
}
.categoriesDiv {
    display: inline-flex;
}

#categoryName {
    padding: 4px 8px;
}

body {
    margin-bottom: 50px;
}
footer {
    background-color: var(--primary-color);
    padding: 2px 0;
    color: rgba(255, 255, 255, 0.6);

    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
}
footer p {
    margin-block-start: 0;
    margin-block-end: 0;
}